.navbar-top {
  background-color: $background-color-topnav;
  box-shadow: none;

  .material-icons {
    float: right !important;
  }

  .button-collapse {
    .material-icons {
      color: $primary-color;
      &:hover {
        color: $color-hover;
      }
    }
  }

  .brand-logo {
    img {
      height: $navbar-height;

      @media #{$small-and-down} {
        height: $navbar-height-mobile;
      }

      @media #{$large-and-up} {
        margin-left: 2rem;
      }
    }
  }

  &-desktop {
    line-height: $navbar-height;

    li a {
      color: $navbar-font-color;
      text-transform: uppercase;

      &:hover {
        background-color: $primary-hover;
        color: $white;
      }
    }
  }
}

.side-nav {
  li > a> .material-icons {
    float: right !important;
  }
}
