.content {
    padding-top: 3rem;
    h2 {
        font-size: 6rem;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin: 1rem 0;
    }
    .obra-arte {
        font-size: 4rem;
        line-height: 5rem;
    }
}