#seccion-view1 {
    position: relative;
    .valign-wrapper {
        height: 770px;
    }
    picture {
        img {
            width: 100%;
        }
    }
    box-sizing: border-box;
    h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
        @media #{$medium-and-up} {
            font-size: 3rem;
        }
    }
    p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}