.slide-text {
    background-color: rgba(218,8,126,.7);
    padding: 2rem;
    width: 30% !important;
    left: 65% !important;

    h3 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    a {
        margin-top: 2rem;
    }
}