// $font-awesome: "FontAwesome", Arial, sans-serif;

// Custom Materialize
$primary-color: rgb(218, 8, 126);
$secondary-color: rgb(160, 9, 92);
$primary-hover: rgb(160, 9, 92);

$white: #fff;
$black: black;

$color-primary: $primary-color;
$color-secondary: $secondary-color;
$color-fonts: $white;
$color-hover: #1ba991;
$background-color-topnav: rgba(0, 0, 0, .2);
$background-color-container: #e4e4e4;
$background-color-transparent: rgba(0, 0, 0, .7);
$navbar-font-color: $color-fonts;

.waves-effect {

  &.waves-custom .waves-ripple {
    background-color: rgb(206, 92, 155);
  }
}
